
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-style: none;
    list-style: none;
    text-decoration: none;
    color: #666;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

section {
    /* border: red dashed 2px; */
}

/*#region Header*/
#main-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.7rem 0;
    z-index: 10;
}

#header-menu-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 30rem;
}

#logo-container {
    flex: 4;
    margin-left: 8rem;  
}

#logo {
    width: 480px;
    transition: all 300ms;
}

#header-menu-nav-container {
    margin: 0 auto;
}

#header-menu-nav {

}

#header-menu {
    flex: 5;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#header-menu li {
    font-size: 1.3em;
    margin: 0 1.4rem;
}

#header-menu a {
    
}
/*#endregion Header*/

#main-content {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.hero-banner {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
    /* position: absolute; */
}

.media-wrapper {
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    z-index: -1;
}

.media-wrapper video {
    min-width: 100%;
    min-height: 100%;
}

.main-title {
    flex: 5;
    background-color: rgba(22,24,47,0.6);
    padding-top: 10vw;
    padding-right: 6vw;
    padding-bottom: 15vw;
    padding-left: 6vw;
}

.main-title-text {
    position: relative;
}

.main-title-shape {
    position: absolute;
    height: 100%;
    width: 0.9rem;
    background-color: #36b0c9;
}

.main-title-text h1 {
    color: #fff;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 7em;
    line-height: 1.1em;
    margin-left: 2.4rem;
    padding: 0 0 1rem 0;
}

.main-title-button {
    margin-top: 6rem;
}

.main-title-button a {
    padding: 2rem 2.3rem;
    color: #fff;
    letter-spacing: 0.3em;
    font-size: 1.5em;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #36b0c9;
}

.hero-banner-list {
    flex: 2;
    background-color: rgba(22,24,47,0.8);
}

.list-container {
    justify-content: center;
    height: 100%;

}

.list-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 4rem 4rem;
}

.list-container li {
    padding: 2rem 0;
}

.list-container li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    
}

.list-container li a img {
    width: 4.5rem;
    height: 4.5rem;
}

.list-container li a p {
    font-size: 1.8em;
    color: #fff;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    margin-left: 1.5rem;
}

.umais {
    display: flex;
    background-color: #16182f;
    flex-direction: row;
    height: 80vh;
    box-shadow: 0px 0px 18px 12px rgb(22 24 47 / 38%);
    
}

.umais .text {
    display: flex;
    flex-direction: column;
    padding:  8rem 5rem;
    flex: 33%;
}

.umais .text h2 {
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.3em;
    color: #fff;
    flex: 15;
    padding-bottom: 2rem;
}

.umais .text .title-shape {
    width: 5rem;
    background-color: #36b0c9;
    flex: 1;
    margin-bottom: 5rem;
}

.umais .text div {
    flex: 79;
}

.umais .text p {
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2em;
    color: #fff;
    padding-bottom: 1em;
    padding-bottom: 1rem;
}

.umais .text strong {
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    color: #fff;
    padding-bottom: 1em;
    padding-bottom: 1rem;
}

.umais .hub {
    flex: 67%;
    display: flex;
    flex-direction: column;
}

.umais .hub .bg-image {
    flex: 4;
    overflow: hidden;
}

.umais .hub .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.umais .buttons-container {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.umais .buttons-container a,div {
    flex: 50%;
}

.umais .buttons-container div {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.umais .buttons-container .button-plataforma-umais {
    text-align: center;
    transform: translateY(-50%) translateX(50%);
    top: 50%;
    right: 50%;
    position: absolute;
    padding: 1.6rem 3rem;
    border: black solid 0.4rem;
}

.umais .buttons-container .button-plataforma-umais h2 {
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.3em;
    color: black;
}

.umais .buttons-container .button-portal-umais {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #36b0c9;
}

.umais .buttons-container .button-portal-umais h2 {
    text-align: center;
    height: fit-content;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 4.2em;
    color: #fff;
}

#about {
        overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16182fe7;
}


#about .bg-image {
    min-width: 100%;
    position: absolute;
    z-index: -1;
}

#about div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#about div span p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 2.3em;
    font-weight: 200;
    line-height: 1.5em;
    color: #fff;
}

#about div h3 strong {
    margin-top: 3rem;
    font-size: 2.5em;
    color: #fff;
}

#about div p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 2em;
    color: #fff;
}

#about div ul li {
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.7em;
    color: #fff;
    list-style: disc;
    margin-left: 1.5rem;
}

